body,
html {
  width: 100%;
  height: 100%;
  background: #f19292;
  font-family: "Varela Round", sans-serif;
  color: white;
}

 
.menu { 
    /* display: block; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    height: 100px;
    list-style: none;
   
    
    
}

